* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0b498f;
  --gray-100: #c4c4c4;
  --gray-200: #00000080;
  --black: #000;
  --white: #fff;
  -webkit-font-smoothing: antialiased;
}

body{
    font-family: "Poppins", sans-serif;
}